<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Reset Password</title>
    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png" />
    <!-- Template Main CSS File -->
    <link href="/static/css/home/password_reset.css" rel="stylesheet" />
    <!-- Vendor CSS Files -->
    <link href="/static/vendor/icons/css/boxicons.min.css" rel="stylesheet" />
  </head>
  <body>
    {% include 'includes/sweetalert.html' %}
    <div class="popup">
      <form class="form" method="post">
        {% csrf_token %}
        <div class="icon">
          <i class="bx bxs-envelope"></i>
        </div>
        <div class="note">
          <label class="title">Reset Your Password</label>
          <span class="subtitle">
            Enter the E-mail address that you used to create your account. A
            password reset link will be sent to your E-mail account, and you can reset
            your password through that link.
          </span>
        </div>
        <input placeholder="Enter your e-mail" name="email" type="email" class="input_field" value="{{ request.user.email }}"/>
        <button type="submit" class="submit">
            <div class="svg-wrapper-1">
              <div class="svg-wrapper">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
            <span>Send</span>
          </button>
      </form>
    </div>
  </body>
</html>
