:root {
  --royalblue: #4169e1;
}

.change_pass-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(248, 248, 248, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .change_pass-box .pass-box {
    position: relative;
  }
  
  .change_pass-box .pass-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
  }
  
  .change_pass-box .pass-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    pointer-events: none;
    transition: .5s;
  }
  
  .change_pass-box .pass-box input:focus ~ label,
  .change_pass-box .pass-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #676464;
    font-size: 12px;
  }




/* Set Password Button  */
.set_pass_btn {
    margin: auto;
    font-family: inherit;
    display: flex;
    width: 8rem;
    height: 3rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--royalblue);
    transition: color 0.5s;
    z-index: 1;
    font-size: 15px;
    border-radius: 6px;
    font-weight: 700;
    color: var(--royalblue);
    background-color: transparent;
  }
  
  .set_pass_btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--royalblue);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  .set_pass_btn:hover {
    color: #fff;
    /* color: #1e0ddb; */
  }
  
  .set_pass_btn:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  .set_pass_btn:hover:before {
    top: -30px;
    left: -30px;
  }
  
  .set_pass_btn:active:before {
    background: var(--royalblue);
    transition: background 0s;
  }