{% extends "user/base.html" %}

{% block title %}History{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/css/user/dashboard.css">
<link href="/static/vendor/beautyToast/beautyToast.css" rel="stylesheet">

{% endblock stylesheets %}

{% block page_name %}{% endblock page_name %}

{% block content %}

{% include 'includes/beautyToast.html' %}


{% endblock content %}



<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}