{% extends "user/base.html" %}

{% block title %}Tic Tac Toe{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/css/user/tic_tac_toe.css">

{% endblock stylesheets %}
{% block tic_tac_toe_active %}active{% endblock tic_tac_toe_active %}
{% block page_name %}Tic Tac Toe{% endblock page_name %}

{% block content %}

<!-- Check the status of the page -->
{% if feature_tic_tac_toe %}
<!-- Box of showing setting Data -->
<ul class="box-info">
    <li>
        <i class='bx bxs-coupon'></i>
        <span class="text">
            <h3>{{ tic_tac_toe_token }}</h3>
            <p>Token Bet</p>
        </span>
    </li>
    <li>
        <i class='bx bxs-badge-dollar'></i>
        <span class="text">
            <h3 class="level_bonus">+{{ level_bonus }}</h3>
            <p>Level Bonus</p>
        </span>
    </li>
    <li>
        <i class="bx bxs-bolt"></i>
        <span class="text">
            <h3>{{ tic_tac_toe_energy_cost }}</h3>
            <p>Energy Cost</p>
        </span>
    </li>
</ul>

<!-- Tic Tac Toe Container -->
<div class="tic_tac_toe_body">
    <div class="tic_tac_toe_container">
        <div class="tic_tac_toe_wrapper">
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <p{% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
    
            <form class="tic_tac_toe_form" method="post" action="{% url 'tic_tac_toe' %}">
                {% csrf_token %}
                <input type="text" name="room-id" id="room-id" placeholder="Enter Room Code (If You Have)">
                <input type="text" name="player-name" id="player-name" placeholder="Enter Your Name">
                <button id="tic_tac_toe_actionBtn">Create New Room</button>
            </form>
        </div>
    </div>
</div>



<!-- Claim Referral Rewards Container -->

{% comment %} 
<div class="tic_tac_toe_container">
    
    <div class="tic_tac_toe">
        <span class="tic_tac_toe_header">Win Rewards</span>
        <div class="tic_tac_toe__amount">
            <p id="tic_tac_toe-amount"> {{ tic_tac_toe_win_rewards }} </p>
        </div>
  
        <form method="post" class="start__tic_tac_toe">
            {% csrf_token %}
            <div class="start__div"  id="start-button-div">
                <button disabled type="submit" class="start__button " id= "start-button">
                    <span class="button__text" id="button-text"><i class='bx bx-send'></i> Collect Rewards</span>
                </button>
            </div>
        </form>
    </div>
    
  </div> {% endcomment %}





{% else %}
{% include 'includes/under_maintenance.html' %}
{% endif %}
{% endblock content %}



<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
    const roomNameInp = document.getElementById("room-id")
    const actionBtn = document.getElementById("tic_tac_toe_actionBtn")
    roomNameInp.addEventListener('keyup', e => {
        if (e.currentTarget.value == "") {
            actionBtn.innerText = "Create New Room"
        } else {
            actionBtn.innerText = "Join"
        }
    })        
</script>
<script src="/static/vendor/sweetalert/sweetalert2.min.js"></script>

{% comment %} <script src="/static/js/user/tic_tac_toe.js"></script> {% endcomment %}

{% endblock javascripts %}


