{% extends "user/base.html" %}

{% block title %}Tic Tac Toe{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/css/user/tic_tac_toe_game_page.css">

{% endblock stylesheets %}
{% block tic_tac_toe_active %}active{% endblock tic_tac_toe_active %}
{% block page_name %}Tic Tac Toe{% endblock page_name %}

{% block content %}

<!-- Check the status of the page -->
{% if feature_tic_tac_toe %}
<!-- Box of showing setting Data -->
<ul class="box-info">
    <li>
        <i class='bx bxs-coupon'></i>
        <span class="text">
            <h3>{{ tic_tac_toe_token }}</h3>
            <p>Win Rewards</p>
        </span>
    </li>
    <li>
        <i class='bx bxs-badge-dollar'></i>
        <span class="text">
            <h3 class="level_bonus">+{{ level_bonus }}</h3>
            <p>Level Bonus</p>
        </span>
    </li>
    <li>
        <i class="bx bxs-bolt"></i>
        <span class="text">
            <h3>{{ tic_tac_toe_energy_cost }}</h3>
            <p>Energy Cost</p>
        </span>
    </li>
</ul>


<!-- Tic Tac Toe Container -->
<div class="tic_tac_toe_wrapper">
    <div class="tic_tac_toe_details">
        <p>{{name}} (You)</p>
        <p id="opponent-txt">waiting to join... (Opponent)</p>
    </div>
    <div class="tic_tac_toe_container">
        <div boxIndex="0" player="" class="tic_tac_toe_box child box-1 b-right b-bottom"></div>
        <div boxIndex="1" player="" class="tic_tac_toe_box child box-2 b-left b-right b-bottom"></div>
        <div boxIndex="2" player="" class="tic_tac_toe_box child box-3 b-left b-bottom"></div>
        <div boxIndex="3" player="" class="tic_tac_toe_box child box-4 b-top b-right b-bottom"></div>
        <div boxIndex="4" player="" class="tic_tac_toe_box child box-5 b-top b-bottom b-right b-left"></div>
        <div boxIndex="5" player="" class="tic_tac_toe_box child box-6 b-top b-bottom b-left"></div>
        <div boxIndex="6" player="" class="tic_tac_toe_box child box-7 b-right b-top"></div>
        <div boxIndex="7" player="" class="tic_tac_toe_box child box-8 b-top b-right b-left"></div>
        <div boxIndex="8" player="" class="tic_tac_toe_box child box-9 b-top b-left"></div>
    </div>
    <div class="tic_tac_toe_details">
        <p id="tic_tac_toe_turn"></p>
    </div>
</div>


{% else %}
{% include 'includes/under_maintenance.html' %}
{% endif %}
{% endblock content %}



<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="/static/vendor/sweetalert/sweetalert2.min.js"></script>
<script>

      
         const ws = new WebSocket("ws://127.0.0.1:8000/ws/tic_tac_toe/game/{{room.id}}")
         const username = "{{request.user.username}}"

    
</script>
<script src="/static/js/user/tic_tac_toe_game_page.js"></script>


{% endblock javascripts %}


